<!-- CONTATO -->
<section id="contato" class="container py-5">
  <h2 class="text-center mb-4">Contato</h2>

  <form class="col-md-6 mx-auto">
    <input class="form-control mb-3" type="text" placeholder="Nome" required />

    <input
      class="form-control mb-3"
      type="email"
      placeholder="Email"
      required
    />

    <textarea
      class="form-control mb-3"
      rows="4"
      placeholder="Mensagem"
    ></textarea>

    <button class="btn btn-primary w-100" type="submit">Enviar</button>
  </form>
</section>
