<!-- EQUIPE -->
<section id="equipe" class="container py-5">
  <h2 class="text-center">Nossa Equipe</h2>

  <div class="row mb-3 g-4 justify-content-center">
    <div class="col-md-4 col-lg-3">
      <div class="team-card text-center">
        <img src="img/fabily.jpg" class="team-photo" alt="Foto de Fabily" />

        <h5>Fabily Bueno Santos<br />&nbsp;</h5>

        <div class="team-social">
          <a
            href="https://github.com/usuario"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-github"></i>
          </a>

          <a
            href="https://github.com/usuario"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-linkedin"></i>
          </a>
        </div>

        <button
          class="btn btn-outline-primary mt-2"
          data-bs-toggle="modal"
          data-bs-target="#fabilyModal"
        >
          Ver Perfil
        </button>
      </div>
    </div>

    <div class="col-md-4 col-lg-3">
      <div class="team-card text-center">
        <img src="img/gustavo.jpg" class="team-photo" alt="Foto de Gustavo" />

        <h5>Gustavo Henrique de Souza Pereira</h5>

        <div class="team-social">
          <a
            href="https://github.com/GustavoPereira26"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-github"></i>
          </a>

          <a
            href="https://github.com/usuario"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-linkedin"></i>
          </a>
        </div>

        <button
          class="btn btn-outline-primary mt-2"
          data-bs-toggle="modal"
          data-bs-target="#gustavoModal"
        >
          Ver Perfil
        </button>
      </div>
    </div>

    <div class="col-md-4 col-lg-3">
      <div class="team-card text-center">
        <img src="img/joao.jpg" class="team-photo" alt="Foto de Joao" />

        <h5>João Victor Carrilho Loza<br />&nbsp;</h5>

        <div class="team-social">
          <a
            href="https://github.com/CarrilhoLoza"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-github"></i>
          </a>

          <a
            href="https://www.linkedin.com/in/joaovcarrilho"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-linkedin"></i>
          </a>
        </div>

        <button
          class="btn btn-outline-primary mt-2"
          data-bs-toggle="modal"
          data-bs-target="#joaoModal"
        >
          Ver Perfil
        </button>
      </div>
    </div>
  </div>

  <div class="row mb-3 g-4 justify-content-center">
    <div class="col-md-4 col-lg-3">
      <div class="team-card text-center">
        <img src="img/juan.jpg" class="team-photo" alt="Foto de Juan" />

        <h5>Juan Oliveira Marques<br />&nbsp;</h5>

        <div class="team-social">
          <a
            href="https://github.com/JuanMarques1"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-github"></i>
          </a>

          <a
            href="https://www.linkedin.com/in/juan-oliveira-marques/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-linkedin"></i>
          </a>
        </div>

        <button
          class="btn btn-outline-primary mt-2"
          data-bs-toggle="modal"
          data-bs-target="#juanModal"
        >
          Ver Perfil
        </button>
      </div>
    </div>

    <div class="col-md-4 col-lg-3">
      <div class="team-card text-center">
        <img src="img/lara.jpg" class="team-photo" alt="Foto de Lara" />

        <h5>Lara Fabian de Santana Damacena</h5>

        <div class="team-social">
          <a
            href="https://github.com/LaraDamacena"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-github"></i>
          </a>

          <a
            href="https://github.com/usuario"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-linkedin"></i>
          </a>
        </div>

        <button
          class="btn btn-outline-primary mt-2"
          data-bs-toggle="modal"
          data-bs-target="#laraModal"
        >
          Ver Perfil
        </button>
      </div>
    </div>

    <div class="col-md-4 col-lg-3">
      <div class="team-card text-center">
        <img src="img/renan.jpg" class="team-photo" alt="Foto de Renan" />

        <h5>Renan da Silva Rubio<br />&nbsp;</h5>

        <div class="team-social">
          <a
            href="https://github.com/Renan-Silva235"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-github"></i>
          </a>

          <a
            href="https://www.linkedin.com/in/renan-rubio-017290222/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-linkedin"></i>
          </a>
        </div>

        <button
          class="btn btn-outline-primary mt-2"
          data-bs-toggle="modal"
          data-bs-target="#renanModal"
        >
          Ver Perfil
        </button>
      </div>
    </div>
  </div>
</section>
